@model IEnumerable<CarRental.Application.Currencies.CurrenciesDto>

    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
@foreach (var item in Model)
        {
                <button class="dropdown-item" type="button">item</button>

        }
  </div>
</div>