@model IEnumerable<CarRental.Application.CarRental.CarsDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Cars</h1>

<button type="button" class="btn btn-primary">Add new Car</button>

<hr/>

@foreach (var item in Model)
{
     <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">@item.Name</h5>
       
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">@item.Description</li>
        <li class="list-group-item"> Price: @item.Price</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Rent</a>
        <a href="#" class="card-link">More Details</a>
        <a href="#" class="card-link">Edit</a>
      </div>
    </div>
}



<div>
  
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
